.container{
  width: 70%;
  margin: auto;
  margin-top: 2%;
  text-align: center;
}

th{
  padding: 10px;
}

img{
  width: 40px;
  height: auto;
}

.row {
  display: flex;  /* aligns all child elements (flex items) in a row */
  background-color: grey;
  padding: 20px;
  border-style: solid;
}

.col {
  flex: 1;        /* distributes space on the line equally among items */
}
